<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section class="email-invite">
    <h1>E-mail Invite</h1>
    <%= link_to "Send an Invite", "/invite" %>
  </section>
  <section class="bookmarked">
    <h1>Bookmarked Segments</h1>
    <% current_user.unique_tutorials.each do |tutorial| %>
      <section class="tutorial">
        <h4>Tutorial: <%= tutorial.title %></h4>
        <% tutorial.sorted_videos(5).each do |video| %>
          <section class="tutorial-video">
            <p><%= link_to video.title, tutorial_path(tutorial, video_id: video.id), class: "show-link", id: video.position %></p>
          </section>
        <% end %>
      </section>
    <% end %>
  </section>
  <section class="github">
    <% if current_user.github_token %>
      <h1>Github Followers</h1>
      <ul class="followers">
        <% current_user.user_followers(5).each do |follower| %>
          <li class="follower" >
            <p class="name"><%= follower.name %></p>
          </li>
        <% end %>
      </ul>
      <h1>Following on Github</h1>
      <ul class="following">
        <% current_user.user_following(5).each do |followed| %>
          <li class="followed" >
            <p class="name"><%= followed.name %></p>
          </li>
        <% end %>
      </ul>
      <h1>Github Repositories</h1>
      <ul class="repos">
        <% current_user.user_repos(5).each do |repo| %>
        <li class="repo">
          <%= link_to "#{repo.name}", "#{repo.url}", class: "repo-link" %><br>
        </li>
        <% end %>
      </ul>
    <% else %>
      <%= link_to "Connect to Github", "/auth/github" %>
    <% end %>
  </section>
</section>
